:root {
  --white: #f9f9f9;
  --black: #36383f;
  --gray: #85888c;
  --header: #000;
  /*заголовки*/
  --text: #324665;
  /*тексты*/
  --btn: #bc2525;
  /*кнопки*/
  --btn-text: #f1f5fa;
  /*текст кнопок*/
  --background: #f9f6f1;
  /*фон блоков 2,3,5*/
} /* variables*/

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.header {
  flex-basis: 3.18%;
}

/* Header */
.header {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  width: 100%;
}
/* Logo */
.logo {
  display: inline-block;
  width: 11rem;
  color: #000;
  font-size: 0.875rem;
  /* margin-left: 10px; */

  /* @media screen and (max-width: 769px) {
    padding: 18px 0 16px;
  } */
}

/* Nav menu */
.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #fff;
  overflow: hidden;
}
.menu a {
  display: block;
  padding: 30px;
  color: #000;
  text-align: center;
}
.menu a:hover {
  color: #bc2525;
}
.nav {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}
.hamb {
  cursor: pointer;
  float: left;
  padding: 23px;
  /* padding: 40px 23px;
  @media screen and (max-width: 769px) {
    padding: 23px;
  } */
} /* Style label tag */

.hamb-line {
  background: #324665;
  border-radius: 0.1875rem;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
} /* Style span tag */

.hamb-line::before,
.hamb-line::after {
  background: #324665;
  border-radius: 0.1875rem;
  content: "";
  display: block;
  height: 110%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.hamb-line::before {
  top: 5px;
}
.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav {
  max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

@media screen and (min-width: 769px) {
  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
  }
  .menu li {
    float: left;
  }
  .menu a:hover {
    background-color: transparent;
    color: #bc2525;
  }

  .hamb {
    display: none;
    /* order: 1; */
  }

  .logo {
    /* order: 2; */
  }

  .header-btn {
    /* order: 3; */
  }
}

.nav {
  @media screen and (max-width: 769px) {
    top: 50px;
  }

  @media screen and (max-width: 320px) {
    top: 70px;
  }
}
/* button */
.header-btn {
  display: inline-block;
  /* margin: 0 14px 0 12px; */
}

.button {
  padding: 0.75rem 2.5rem;
  border-radius: 1.5625rem;
  background: var(--btn);
  border: none;
  backdrop-filter: blur(16px);
  color: var(--btn-text);
  font-size: 1.125rem;
  font-style: normal;
  line-height: normal;

  @media screen and (max-width: 769px) {
    padding: 0.63rem 1rem;
  }
}

.button:hover {
  background-color: #d72424;
}
